.SponsorButtonHome{
    /* Font */
    font-family: 'Arial';
    font-size: 70px;
    font-weight: bold;
    color: #000000;
    /* Button */
    background-color: #C1C6C8; /* button color */ 
    height: 175px;
    width: 550px;
    border-radius: 100px 100px 100px 100px;
    border: none;
    cursor: pointer;
    /* Position */
    position: absolute;
    top: 50%;
    left: 35%;
}