/* Banner */
.SponsorBanner{
    /* Text */
    font-family: 'Arial';
    font-size: 80px;
    font-weight: bold;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Dimensions */
    width: 100%;
    height: 12.7%;
    position: absolute;
    z-index: 2;
    top: 0%;
    border-radius: 0px 100px 100px 0px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #C1C6C8;
}

/*  Diagnostics */
.SponsorBoxDiag{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 50%;
    height: 10%;
    position: absolute;
    z-index: 3;
    top: 66.5%;
    left: 7%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}
/* Diagnostics New Line*/
.SponsorDiagText{
    /* Text */
    word-spacing: 200%;
    font-family: 'Arial';
    font-size: 40px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    position: absolute;
    z-index: 3;
    top: 70%;
    left: 17%;
}

/* Speedometer */
.SponsorSpd{
    /* Text */
    font-family: 'Arial';
    font-size: 80px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-right: 40px;
    /* Dimensions */
    width: 22%;
    height: 11.75%;
    position: absolute;
    z-index: 3;
    top: .25%;
    left: .1%;
    border-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/* GPS */
.SponsorBoxGPS{ /* Rename Boxes */
    /* Font */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* Dimensions */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69.5%;
    height: 52%;
    position: absolute;
    z-index: 0;
    top: 13.5%;
    left: 0%;
    /* Color */
    background-color: #C1C6C8;
}

/* Camera */
.SponsorBoxCam{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* Dimensions */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 32%;
    position: absolute;
    top: 13.5%;
    left: 70%;
    /* Color */
    z-index:0;
    background-color: #C1C6C8;
}

/* Local Path */
.SponsorBoxPath{
    /* Font */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* Dimensions */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    position: absolute;
    top: 46.5%;
    left: 70%;
    /* Color */
    background-color: #C1C6C8;
}

/* Perception */
.SponsorSysBoxPerc{
    /* Text */
    font-family: 'Arial';
    font-size: 50px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Dimensions */
    width: 49.35%;
    height: 63%;
    position: absolute;
    z-index: 3;
    top: 13.5%;
    left: .25%;
    /*border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #C1C6C8;
}

/* Mapping and Planning */
.SponsorSysBoxCrtl{
    /* Text */
    font-family: 'Arial';
    font-size: 50px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Dimensions */
    width: 49.35%;
    height: 30.75%;
    position: absolute;
    z-index: 3;
    top: 45.75%;
    right: .25%;
    /*border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #C1C6C8;
}

/* Control */
.SponsorSysBoxPlan{
    /* Text */
    font-family: 'Arial';
    font-size: 50px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Dimensions */
    width: 49.35%;
    height: 30.75%;
    position: absolute;
    z-index: 3;
    top: 13.5%;
    right: .25%;
    /*border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #C1C6C8;
}

/* Camera  (Camera Page) */
.SponsorBoxCam2{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* Dimensions */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 63.5%;
    position: absolute;
    top: 13.5%;
    left: 60%;
    /* Color */
    z-index:0;
    background-color: #C1C6C8;
}

/* FrontCam (Camera Page) */
.SponsorBoxCamFront{ /* Rename Boxes */
    /* Font */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* Dimensions */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59.5%;
    height: 52%;
    position: absolute;
    z-index: 0;
    top: 13.5%;
    left: 0%;
    /* Color */
    background-color: #C1C6C8;
}

/*  Diagnostics (Camera Page) */
.SponsorCamBoxDiag{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 50%;
    height: 10%;
    position: absolute;
    z-index: 3;
    top: 66.5%;
    left: 4%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/* Diagnostics New Line (Camera Page) */
.SponsorCamDiagText{
    /* Text */
    word-spacing: 200%;
    font-family: 'Arial';
    font-size: 40px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    position: absolute;
    z-index: 3;
    top: 70%;
    left: 14%;
}

/*  unknown Box 1 (Sensory Page) */
.SponsorSensBox1{
    /* Dimensions */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.5%;
    height: 52.15%;
    position: absolute;
    z-index: 0;
    top: 24.85%;
    left: 0%;
    /* Color */
    background-color: #C1C6C8;
}

/*  Box 1 Title (Sensory Page) */
.SponsorSenBox1Title{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 20%;
    height: 10%;
    position: absolute;
    z-index: 3;
    top: 13.5%;
    left: 2%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/*  unknown Box 2 (Sensory Page) */
.SponsorSensBox2{
    /* Dimensions */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.5%;
    height: 52.15%;
    position: absolute;
    z-index: 0;
    top: 24.85%;
    left: 25.15%;
    /* Color */
    background-color: #C1C6C8;
}

/*  Box 2 Title (Sensory Page) */
.SponsorSenBox2Title{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 20%;
    height: 10%;
    position: absolute;
    z-index: 3;
    top: 13.5%;
    left: 27.5%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/*  unknown Box 3 (Sensory Page) */
.SponsorSensBox3{
    /* Dimensions */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.5%;
    height: 52.15%;
    position: absolute;
    z-index: 0;
    top: 24.85%;
    right: 25.15%;
    /* Color */
    background-color: #C1C6C8;
}

/*  Box 3 Title (Sensory Page) */
.SponsorSenBox3Title{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 20%;
    height: 10%;
    position: absolute;
    z-index: 3;
    top: 13.5%;
    right: 27.5%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/*  unknown Box 4 (Sensory Page) */
.SponsorSensBox4{
    /* Dimensions */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.5%;
    height: 52.15%;
    position: absolute;
    z-index: 0;
    top: 24.85%;
    right: 0%;
    /* Color */
    background-color: #C1C6C8;
}

/*  Box 4 Title (Sensory Page) */
.SponsorSenBox4Title{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 20%;
    height: 10%;
    position: absolute;
    z-index: 3;
    top: 13.5%;
    right: 2%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/* Diagnostics New Line*/
.SponsorDateText{
    /* Text */
    word-spacing: 20%;
    font-family: 'Arial';
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    display: flex;
    justify-content: center;
    /* Dimensions */
    position: absolute;
    z-index: 3;
    top: 2%;
    right: 3%;
}
