/* Heading */
.HeadingHome{
    /* Font */
    font-family: 'Arial';
    font-size: 140px;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-stroke: 3px black;
    /* Position */
    position: absolute;
    top: 15%;
}

/* Button For Operator */
.ButtonOperator{
    /* Font */
    font-family: 'Arial';
    font-size: 70px;
    font-weight: bold;
    color: #000000;
    /* Button */
    background-color: #C1C6C8; /* button color */
    height: 175px;
    width: 550px;
    border-radius: 100px 100px 100px 100px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px #000000;
    /* Position */
    position: absolute;
    top: 55%;
    left: 2%;
}

/* Button For Passenger */
.ButtonPassenger{
    /* Font */
    font-family: 'Arial';
    font-size: 70px;
    font-weight: bold;
    color: #000000;
    /* Button */
    background-color: #C1C6C8; /* button color */
    height: 175px;
    width: 550px;
    border-radius: 100px 100px 100px 100px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px #000000;
    /* Position */
    position: absolute;
    top: 55%;
}

/* Button For Sponsor */
.ButtonSponsor{
    /* Font */
    font-family: 'Arial';
    font-size: 70px;
    font-weight: bold;
    color: #000000;
    /* Button */
    background-color: #C1C6C8; /* button color */ 
    height: 175px;
    width: 550px;
    border-radius: 100px 100px 100px 100px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px #000000;
    /* Position */
    position: absolute;
    top: 55%;
    right: 2%;
}

/* Active Button Color */
.ButtonActive{
    background-color: #777777;
}

/* Home Page Cavs Logo*/
.HomePageLogo{
    height: 100px;
    width: 600px;
    position: absolute;
    top: 2%;
    object-fit: contain;
}

/* Home Page Background Color*/
.HomePageContainer{
    background-color: #5D1725;
    height: 100vh;
    width: 100vw;
    display: flex;  /* used to adjust for other resolutions */
    justify-content: center;
    align-items: center;
    background-image: url("../assets/cavs_background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
