/* Banner */
.OperatorBanner{
    /* Text */
    font-family: 'Arial';
    font-size: 80px;
    font-weight: bold;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Dimensions */
    width: 100%;
    height: 12.7%;
    position: absolute;
    z-index: 2;
    top: 0%;
    border-radius: 0px 100px 100px 0px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #C1C6C8;
}

/*  Diagnostics */
.OperatorBoxDiag{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 50%;
    height: 10%;
    position: absolute;
    z-index: 3;
    top: 66.5%;
    left: 7%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}
/* Diagnostics New Line*/
.OperatorDiagText{
    /* Text */
    word-spacing: 200%;
    font-family: 'Arial';
    font-size: 40px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    position: absolute;
    z-index: 3;
    top: 70%;
    left: 17%;
}

/* Diagnostics New Line*/
.OperatorDateText{
    /* Text */
    word-spacing: 20%;
    font-family: 'Arial';
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    display: flex;
    justify-content: center;
    /* Dimensions */
    position: absolute;
    z-index: 3;
    top: 2%;
    right: 3%;
}

/* Speedometer */
.OperatorSpd{
    /* Text */
    font-family: 'Arial';
    font-size: 80px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    /* Dimensions */
    width: 22%;
    height: 12%;
    position: absolute;
    z-index: 3;
    top: .25%;
    left: 0%;
    border-color: #ffffff;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/* GPS */
.OperatorBoxGPS{ /* Rename Boxes */
    /* Font */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* Dimensions */
    width: 69.5%;
    height: 52%;
    position: absolute;
    z-index: 0;
    top: 13.5%;
    left: 0%;
    /* Color */
    background-color: #C1C6C8;
}

/* Camera */
.OperatorBoxCam{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* Dimensions */
    width: 30%;
    height: 32%;
    position: absolute;
    top: 13.5%;
    left: 70%;
    /* Color */
    z-index:0;
    background-color: #C1C6C8;
}

/* Local Path */
.OperatorBoxPath{
    /* Font */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* Dimensions */
    width: 30%;
    height: 30%;
    position: absolute;
    top: 46.5%;
    left: 70%;
    /* Color */
    background-color: #C1C6C8;
}

/* Perception */
.OperatorSysBoxPerc{
    /* Text */
    font-family: 'Arial';
    font-size: 50px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 49.35%;
    height: 63%;
    position: absolute;
    z-index: 3;
    top: 13.5%;
    left: .25%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/* Mapping and Planning */
.OperatorSysBoxCrtl{
    /* Text */
    font-family: 'Arial';
    font-size: 50px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 49.35%;
    height: 30.75%;
    position: absolute;
    z-index: 3;
    top: 45.75%;
    right: .25%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/* Control */
.OperatorSysBoxPlan{
    /* Text */
    font-family: 'Arial';
    font-size: 50px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 49.35%;
    height: 30.75%;
    position: absolute;
    z-index: 3;
    top: 13.5%;
    right: .25%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/* Camera  (Camera Page) */
.OperatorBoxCam2{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* Dimensions */
    width: 40%;
    height: 63.5%;
    position: absolute;
    top: 13.5%;
    left: 60%;
    /* Color */
    z-index:0;
    background-color: #C1C6C8;
}

/* FrontCam (Camera Page) */
.OperatorBoxCamFront{ /* Rename Boxes */
    /* Font */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* Dimensions */
    width: 59.5%;
    height: 52%;
    position: absolute;
    z-index: 0;
    top: 13.5%;
    left: 0%;
    /* Color */
    background-color: #C1C6C8;
}

/*  Diagnostics (Camera Page) */
.OperatorCamBoxDiag{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 50%;
    height: 10%;
    position: absolute;
    z-index: 3;
    top: 66.5%;
    left: 4%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/* Diagnostics New Line (Camera Page) */
.OperatorCamDiagText{
    /* Text */
    word-spacing: 200%;
    font-family: 'Arial';
    font-size: 40px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    position: absolute;
    z-index: 3;
    top: 70%;
    left: 14%;
}

/*  unknown Box 1 (Sensory Page) */
.OperatorSensBox1{
    /* Dimensions */
    width: 24.5%;
    height: 52.15%;
    position: absolute;
    z-index: 0;
    top: 24.85%;
    left: 0%;
    /* Color */
    background-color: #C1C6C8;
}

/*  Box 1 Title (Sensory Page) */
.OperatorSenBox1Title{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 20%;
    height: 10%;
    position: absolute;
    z-index: 3;
    top: 13.5%;
    left: 2%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/*  unknown Box 2 (Sensory Page) */
.OperatorSensBox2{
    /* Dimensions */
    width: 24.5%;
    height: 52.15%;
    position: absolute;
    z-index: 0;
    top: 24.85%;
    left: 25.15%;
    /* Color */
    background-color: #C1C6C8;
}

/*  Box 2 Title (Sensory Page) */
.OperatorSenBox2Title{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 20%;
    height: 10%;
    position: absolute;
    z-index: 3;
    top: 13.5%;
    left: 27.5%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/*  unknown Box 3 (Sensory Page) */
.OperatorSensBox3{
    /* Dimensions */
    width: 24.5%;
    height: 52.15%;
    position: absolute;
    z-index: 0;
    top: 24.85%;
    right: 25.15%;
    /* Color */
    background-color: #C1C6C8;
}

/*  Box 3 Title (Sensory Page) */
.OperatorSenBox3Title{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 20%;
    height: 10%;
    position: absolute;
    z-index: 3;
    top: 13.5%;
    right: 27.5%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/*  unknown Box 4 (Sensory Page) */
.OperatorSensBox4{
    /* Dimensions */
    width: 24.5%;
    height: 52.15%;
    position: absolute;
    z-index: 0;
    top: 24.85%;
    right: 0%;
    /* Color */
    background-color: #C1C6C8;
}

/*  Box 4 Title (Sensory Page) */
.OperatorSenBox4Title{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 20%;
    height: 10%;
    position: absolute;
    z-index: 3;
    top: 13.5%;
    right: 2%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}