/* Banner */
.OperatorBanner{
    /* Text */
    font-family: 'Arial';
    font-size: 80px;
    font-weight: bold;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Dimensions */
    width: 100%;
    height: 12.7%;
    position: absolute;
    z-index: 2;
    top: 0%;
    border-radius: 0px 100px 100px 0px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #C1C6C8;
}

/*  Diagnostics */
.OperatorBoxDiag{
    /* Text */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    width: 50%;
    height: 10%;
    position: absolute;
    z-index: 3;
    top: 66.5%;
    left: 7%;
    border: 2px solid #C1C6C8;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}
/* Diagnostics New Line*/
.OperatorDiagText{
    /* Text */
    word-spacing: 200%;
    font-family: 'Arial';
    font-size: 40px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: center;
    /* Dimensions */
    position: absolute;
    z-index: 3;
    top: 70%;
    left: 17%;
}

/* Speedometer */
.OperatorSpd{
    /* Text */
    font-family: 'Arial';
    font-size: 80px;
    font-weight: bold;
    color: #C1C6C8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    /* Dimensions */
    width: 22%;
    height: 12%;
    position: absolute;
    z-index: 3;
    top: .25%;
    left: 0%;
    border-color: #ffffff;
    border-radius: 100px 100px 100px 100px; /* top-left, top-right, bottom-right, bottom-left */
    /* Color */
    background-color: #5D1725;
}

/* GPS */
.OperatorBoxGPS{ /* Rename Boxes */
    /* Font */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* Dimensions */
    width: 69.5%;
    height: 52%;
    position: absolute;
    z-index: 0;
    top: 13.5%;
    left: 0%;
    /* Color */
    background-color: #C1C6C8;
}

/* Camera */
.OperatorBoxCam{
    /* Font */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* Dimensions */
    width: 30%;
    height: 32%;
    position: absolute;
    top: 13.5%;
    left: 70%;
    /* Color */
    z-index:0;
    background-color: #C1C6C8;
}

/* Local Path */
.OperatorBoxPath{
    /* Font */
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* Dimensions */
    width: 30%;
    height: 30%;
    position: absolute;
    top: 46.5%;
    left: 70%;
    /* Color */
    background-color: #C1C6C8;
}