/* Home Button */
.OperatorButtonHome{
    /* Button */
    background-color: #C1C6C8; /* button color */ 
    height: 175px;
    width: 175px;
    border-radius: 100px 100px 100px 100px;
    border: none;
    cursor: pointer;
    /* Position */
    position: absolute;
    top: 78%;
    left: 10%;
    /* Image*/
    background-image: url("../assets/user.png"); /* image: Flaticon.com Freepik */
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Map Button */
.OperatorButtonMap{
    /* Button */
    background-color: #C1C6C8; /* button color */ 
    height: 175px;
    width: 175px;
    border-radius: 100px 100px 100px 100px;
    border: none;
    cursor: pointer;
    /* Position */
    position: absolute;
    top: 78%;
    left: 25%;
    /* Image*/
    background-image: url("../assets/map.png"); /* image: Flaticon.com Pixel Perfect */
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

/* System Button */
.OperatorButtonSys{
    /* Button */
    background-color: #C1C6C8; /* button color */ 
    height: 175px;
    width: 175px;
    border-radius: 100px 100px 100px 100px;
    border: none;
    cursor: pointer;
    /* Position */
    position: absolute;
    top: 78%;
    left: 40%;
    /* Image*/
    background-image: url("../assets/sysDiag.png"); /* image: Flaticon.com Gravisio */
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Camera Button */
.OperatorButtonCam{
    /* Button */
    background-color: #C1C6C8; /* button color */ 
    height: 175px;
    width: 175px;
    border-radius: 100px 100px 100px 100px;
    border: none;
    cursor: pointer;
    /* Position */
    position: absolute;
    top: 78%;
    left: 55%;
    /* Image*/
    background-image: url("../assets/camera.png"); /* image: Flaticon.com Freepik */
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Sensory Button */
.OperatorButtonSens{
    /* Button */
    background-color: #C1C6C8; /* button color */ 
    height: 175px;
    width: 175px;
    border-radius: 100px 100px 100px 100px;
    border: none;
    cursor: pointer;
    /* Position */
    position: absolute;
    top: 78%;
    left: 70%;
    /* Image*/
    background-image: url("../assets/eye.png"); /* image: Flaticon.com Gregor Cresnar */
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Operator Page Background Color*/
.OperatorPageContainer{
    background-color: #1f1f1f;
    height: 100vh;
    width: 100vw;
    display: flex;  /* used to adjust for other resolutions */
    justify-content: center;
    align-items: center;
}